/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

body {margin:0; padding:0}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 100%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0pt; background: #fff; border: 0pt solid #fff; position: relative; -webkit-border-radius: 0pt; -moz-border-radius: 0pt; -o-border-radius: 0pt; border-radius: 0pt; box-shadow: 0 0pt 0pt rgba(0,0,0,.2); -webkit-box-shadow: 0 0pt 0pt rgba(0,0,0,.2); -moz-box-shadow: 0 0pt 0pt rgba(0,0,0,.2); -o-box-shadow: 0 0pt 0pt rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000pt; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 2000pt;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 0pt}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30pt; height: 30pt; margin: 0pt 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999pt; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36pt; }
.flex-direction-nav .flex-prev {left: -36pt;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5pt;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5pt;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 0pt; text-align: center;}
.flex-control-nav li {margin: 0 2pt; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 5pt; height: 5pt; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999pt; -webkit-border-radius: 20pt; -moz-border-radius: 20pt; -o-border-radius: 20pt; border-radius: 20pt; box-shadow: inset 0 0 3pt rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 0pt 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860pt) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.photoDescription       {font:10pt Georgia, serif; letter-spacing:12; line-height:14; color:#989898}
.photographerDetails    {font:9pt Georgia, serif; letter-spacing:12; line-height:14; color:#989898; text-transform:uppercase}

#topMargin              {display:inline; margin-top:15pt}
.kicker                 {font:7pt BentonSans, serif; letter-spacing:2px; line-height:15pt; text-transform:uppercase; color:#ed2228; margin-left:17pt; margin-right:15pt; margin-top:15pt; margin-bottom:-1pt}

.storyHeadline          {font:bold 22pt MillerHeadline, serif; letter-spacing:0pt; line-height:24pt; color:#050708; margin-left:15pt; margin-right:15pt; margin-bottom:2pt}

.byline {font:bold 7pt Georgia, serif; letter-spacing:0pt; line-height:13pt; color:#989898}

#byline-Author          {color:#474747; margin-left:15pt; margin-bottom:-4pt}
#byline-AuthorJobTitle  {font:bold 6pt Georgia, serif; text-transform:uppercase; margin-left:15pt}
#byline-DateTime        {font:8pt Georgia, serif;}
#byline-DateTimeSuffix  {font:bold 6pt Georgia, serif;}
#byline-Date            {font:bold 7pt Georgia, serif;}

.storyContents          {font:10pt Georgia, serif; color:#474747; letter-spacing:0pt; line-height:14pt; margin-left:15pt; margin-top:-2pt; margin-right:15pt}
.ArticleEndGlyph        {display:block; margin-left:auto; margin-right:auto; margin-top:20pt; margin-bottom:20pt}


a.articleBody, a.articleBody:link, a.articleBody:visited, a.articleBody:hover, a.articleBody:focus, a.articleBody:active{
    color:black;
    text-decoration:none;
}
